<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>THNavigationController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0ACA9F251CDB4EA300259858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ACA9F3E1CDB4EA400259858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ACA9F491CDB4EA400259858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
